<%= form_tag fazer_simulado_questions_path do |f| %>
	
	<% @questions.each do |q| %>
	    <%= hidden_field_tag "questions_#{q.id}", q.id%>
	  	<hr>
	  	<p><%= raw(q.enunciado) %></p>
		<%= radio_button_tag "options_#{q.id}", "A" %><%= label "options_#{q.id}", "A) #{q.alternativa_a}"%>
		<%= radio_button_tag "options_#{q.id}", "B" %><%= label "options_#{q.id}", "B) #{q.alternativa_b}"%>
		<%= radio_button_tag "options_#{q.id}", "C" %><%= label "options_#{q.id}", "C) #{q.alternativa_c}"%>
		<%= radio_button_tag "options_#{q.id}", "D" %><%= label "options_#{q.id}", "D) #{q.alternativa_d}"%>
		<%= radio_button_tag "options_#{q.id}", "E" %><%= label "options_#{q.id}", "E) #{q.alternativa_e}"%>
		
	<% end %>
	<br><%= submit_tag "Corrigir", class: "btn btn-primary" %>
<% end %>