<h2>Registrar</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

  <%= f.input :username %>
  <%= f.input :nome %>
  <%= f.input :email, placeholder: 'user@domain.com' %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.association :role, label_method: :nome, value_method: :id, include_blank: false, as: :radio_buttons, label: "Tipo de usuário" %>

  <div><%= f.submit "Sign up", class: "btn btn-primary" %></div>
<% end %>

<%= render "devise/shared/links" %>
